* {
}
html, body{
  margin: 0 auto;
}
.App{
}
.nav-bar{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Nav{
 flex:30%;
 justify-content: space-between;
 background-color: black;
 padding: 25px;
}
.Nav img{
  padding: 10px;
}
.menu{
  width: 18px;
  height: 30px;
  object-fit: contain;
  background-color: #000000;
}
.nommad-logo-lrg {
  width: 150px;
  height: 29.7px;
  object-fit: contain;
  background-color: #000000;
  color: #000000;
}
h3{
  width: 69px;
  height: 19px;
  font-family: Nunito;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  color: #07362b;
}
input[type=text]{
    width:50%;
    margin: 10px 40px 10px 80px;
    padding: 5px 70px 5px 5px;
    display: inline-block;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #000000;
}
button{
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    color:white;
    padding:10px 30px;
    border: 2px solid #B0E0E6;
    background: #75ead0;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.search{
  flex:70%;
  background-color: black;
  justify-content: space-between;
  padding: 15px;
}
.displayContainerMobile {
  display: none;
}
.displayContainerDesktop {
   padding: 5px;
   display: flex;
   width: 100%;
   background-color: #000000;
}
.resultTiles{
  flex: 50%;
  padding: 5px;
  position: relative;
  height: 725px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.resultMap{
  flex: 50%;
  padding: 5px;
  position: relative;
  box-sizing: border-box;
}

.map {
  flex: 1;
  flex-grow: 2;
  width: 100%;
}

.iconContainer{
  float: right;
}
.nom {
  margin: 5px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.bubble {
  margin: 5px;
  width: 29px;
  height: 26px;
  object-fit: contain;
}
.tile {
  flex: 1;
  justify-content: space-between;
  opacity: 0.9;
  background-color: #ffffff;
}



@media only screen and (max-width: 768px) {
  }
