html, body {
  margin: 0 auto;
  background-color: #E10A53;
  max-width: 1500px;
  font-family: sans-serif;

}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  text-align: left;
  font-size: 14px;
  color: #fff;
}

.Nav {
  flex:30%;
  background-color: #E10A53;
  padding: 25px;
}

.search {
  flex:70%;
  background-color: #E10A53;
  justify-content: space-between;
  padding: 15px;
}

.Nav img {
  max-height: 50px;
}

.nom-icon {
  max-width: 50px;
  object-fit: contain;
}

.nommad-logo-lrg {
  width: 200px;
  height: auto;
  object-fit: contain;
}

.profile {
  position: absolute;
  background: linear-gradient(to right, rgba(0,0,0, 0.7), rgba(0,0,0, 0.01));
  padding: 5px;
  width: 91%;
  height: 100%;
  color: #fff;
}

.ratings p img {
  max-width: 75%
}

.zip-message {
  color: #fff;
  background: none;
  padding: 20px 0px;
  margin-top: 18px;
}

h4 {
  background: linear-gradient(to right bottom, rgba(0,0,0, 0.7), rgba(0,0,0, 0.0001));
  width: auto;
  margin: 0 auto;
  padding: 10px;
  color: #fff;
}

h3 {
  width: 69px;
  height: 19px;
  font-family:'Nunito', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  color: #07362b;
}

input[type=text] {
  width:50%;
  display: inline-block;
  box-sizing: border-box;
  font-family:'Nunito', sans-serif;
  font-size: 16px;
  text-align: left;
  color: #E10A53;
}

button {
  margin: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding:10px 30px;
  border: 2px solid #B0E0E6;
  background: #75ead0;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.displayContainerDesktop {
  flex: 1;
  padding: 5px;
  display: flex;
  background-color: #E10A53;
}

.resultTiles {
  flex: 50%;
  position: relative;
  height: 725px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  flex-wrap: wrap;
}

.resultMap {
  flex: 50%;
  position: relative;
  box-sizing: border-box;
  padding: 0 5px;
}

.map {
  display: none;
  flex: 1;
  flex-grow: 2;
  width: 100%;
}

.iconContainer {
  float: right;
}

.nom {
  margin: 5px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.bubble {
  margin: 5px;
  width: 29px;
  height: 26px;
  object-fit: contain;
  position: relative;
  z-index: -1;
}

.score {
  display: inline-block;
  position: relative;
  top: -12px;
  right: 22px;
  color: #fff;
}

.tile {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 25%;
  min-width: 200px !important;
  margin: 0 10px 20px 10px;
  flex: 1;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.message {
  color: #fff;
  font-size: 125%;
  width: 200px;
  overflow-wrap: break-word;
  text-align: center;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  font-family:'Nunito', sans-serif;
  background-color: #E10A53;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.footerLink {
  text-decoration: underline;
}

img #yelp-logo{
  display: inline;
  height: 5%;
  width: 5%;
}

img #github-logo{
  display: inline;
  height: 3%;
  width: 3%;
}

#clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

@media (max-width:400px) and (min-width:900px) {
  .map {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .map {
    visibility: hidden;
  }

  .nommad-logo-lrg, .nom-icon{
    padding-top: 20px;
    height: 50%;
    width: 50%;
  }

  .displayContainerDesktop {
    flex-direction: column;
    flex-grow: 100;
  }
}


@media only screen and (max-width: 550px) {
  .displayContainerDesktop {
    flex-direction: column;
  }

  .nav-bar {
    flex-direction: column;
  }

  .Nav{
    height: 50px;
    text-align: center;
    padding: 0;
  }

  .nom-icon{
    height: 60%;
    width: 60%;
  }

  .search{
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  button{
    margin: 0;
    margin-left: 5px;
    font-size: 10px;
  }
}
