* {
  // border: 1px solid black;
}

html {
  margin: 0 auto;
}

.displayContainerMobile {
  display: none;
}

.displayContainerDesktop {
  display: flex;
  flex: 6;
}

.tile {
  flex: 3;
  display: inline-flex;
  background-color: red;
  color: white;
  flex-direction: column;
  border: 1px solid #aaaaaa;
  height: 200px
}
@media screen and (max-width: 800px) {
  .displayContainerDesktop {
    display: none;
  }
  .displayContainerMobile {
    display: block;
  }
}


.map {
  flex: 3;
  display: inline-flex;
  background-color: green;
  color: white;
}
