* {
  // border: 1px solid black;
}

html {
  margin: 0 auto;
}

.DisplayContainerDesktop {
  display: flex;
  flex: 6;
}

.tile {
  flex: 3;
  display: inline-flex;
  background-color: red;
  color: white;
  flex-direction: column;
  border: 1px solid #aaaaaa;
  height: 200px
  width: auto;
  @media screen and (max-height: 320px) {
    @media screen and (min-width: 600px) {
      height: 20px;
      width: 45px;
    }
  }
}

.map {
  flex: 3;
  display: inline-flex;
  background-color: green;
  color: white;
}
